* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(51,10,70);
    background: linear-gradient(157deg, rgba(136,58,172,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%) no-repeat center center/cover;
    height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px ;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 1100px;
    background: #fff;
    margin: 10px auto;
    border-radius: 6px;
    padding: 30px 60px;
    height: 70vh;
}

/* ---------------------------------- STEPS --------------------------------- */
.steps {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.steps .step {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.steps .step .step-number {
    width: 10px;
    height: 10px;
    padding: 20px;
    /* background-color:rgb(136, 92, 156); */
    background-color: gray;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.steps .step .step-number p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-10px);
}

.steps .step .line-between {
    
    border-bottom: 2px solid black;
    width: 12vw;
    margin: 0 auto;
}
.steps .step:last-child {
    width: 0;
    margin-right: 20px;

}

.steps .step .line-between:last-child {
}