* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(51,10,70);
    background: linear-gradient(157deg, rgba(136,58,172,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%) no-repeat center center/cover;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px ;
    padding: 20px;
}

/* ---------------------------------- UTILS --------------------------------- */

.container {
    width: 80%;
    max-width: 1100px;
    background: #fff;
    margin: 60px auto;
    border-radius: 6px;
    padding: 30px 60px;
    height: 60vh;
    overflow: hidden;
}

.active {
    background-color:rgb(136, 92, 156) !important;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

/* ---------------------------------- STEPS --------------------------------- */
.steps {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.steps .step {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.steps .step .step-number {
    width: 10px;
    height: 10px;
    padding: 20px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.steps .step .step-number p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-10px);
}

.steps .step .line-between {
    
    border-bottom: 2px solid black;
    width: 12vw;
    margin: 0 auto;
}
.steps .step:last-child {
    width: 0;
    margin-right: 20px;

}




/* ---------------------------------- TABS ---------------------------------- */
.tabs {
    margin: 70px auto;
    /* width: 100%; */
    text-align: center;
}

.tabs input[type='text'],
.tabs input[type='email'], 
.tabs input[type='password'] {
    display: block;
    width: 50%;
    border: none;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(136, 92, 156) ;
    margin: 10px auto;
    outline: none;
    font-size: 16px;
}

.tabs input[type='checkbox'] {
    padding: 10px;
}

.tabs .checkbox {
    margin-bottom: 5px;
}

.tabs p {
    margin-bottom: 10px;
}

/* --------------------------------- BUTTON --------------------------------- */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .btn {
    padding: 10px 10px;
    font-size: 16px;
    width: 20%;
    border: none;
    margin-right: 10px;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    color: #eee;
    outline: none;
}

.buttons .btn:hover {
    opacity: 0.8;
}

.buttons .prev {
    background-color: rgb(27, 27, 121);
}

.buttons .next {
    background-color: rgb(48, 109, 46);
}
